<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    rel="stylesheet">
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<script defer
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

<title>DimDim - Endereços</title>
</head>
<body>
    <header th:replace="~{base :: header}"></header>

    <div class="container py-3" style="margin-top: 60px;">
        <h2 class="fw-light text-uppercase pb-2">Endereços</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Rua</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Estado</th>
                    <th scope="col">CEP</th>
                    <th scope="col">Usuário</th>
                </tr>
            </thead>
            <tbody th:each="history: ${historico}">
                <tr class="align-middle">
                    <th scope="row" th:text="${history.id}"></th>
                    <td th:text="${history.rua}"></td>
                    <td th:text="${history.cidade}"></td>
                    <td th:text="${history.estado}"></td>
                    <td th:text="${history.cep}"></td>
                    <td th:text="${history.user.name}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer th:replace="~{base :: footer}"></footer>
</body>
</html>
